body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: small;
  font-weight: lighter;
}

.logo {
  font-size: 72pt;
}

.hero-1 {
  object-fit: cover;
  height: 40dvh;
}

.sm-font {
  font-size: small;
  font-weight: lighter;
}

.bg-dark-white {
  background-color: #a7a6a6;
}

.bg-image {
  background-image: url("https://plus.unsplash.com/premium_photo-1681490103621-0a357006c308?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-color: black;
  opacity: .9;
  max-width: 100%;
  height: 40dvh;
  object-position: center;
  object-fit: cover;
  margin: 0;
}

.bg-image-footer {
  background-image: url("https://images.unsplash.com/photo-1541746972996-4e0b0f43e02a?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-color: black;
  max-width: 100%;
  height: 60dvh;
  object-position: 50% 50%;
  object-fit: cover;
  margin: 0;
}

.border-thick {
  border: 12px solid white;
}

.bat {
  height: 100px;
  width: 100px;
  background-image: url("https://images.unsplash.com/photo-1495741770155-e4137dcb83ec?q=80&w=2946&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  object-fit: cover;
  border-radius: 50%;
  display: inline-block;
  border: solid 5px green;
}

.opaque {
  opacity: 1;
}

.transparency {
  opacity: .6 !important;
}